TP2/docs/* linguist-vendored
TP2/site/* linguist-vendored
TP2/instances/* linguist-vendored
TP2/latex/* linguist-vendored
TP2/dot/* linguist-vendored
TP2/media/* linguist-vendored
TP2/html/* linguist-vendored